<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Assign Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Welcome <span th:text="${task.owner.ownerName}">Owner</span></h2>
	<h3>Task Details</h3>
	<table>
		<tr>
		<td>Task Name</td><td th:text="${task.taskName}">task name</td>
		</tr>	
		<tr>
		<td>Task Description</td><td th:text="${task.taskDescription}">task Description</td>
		</tr>
		<tr>
		<td>Task Status</td><td th:text="${task.taskStatus}">task Status</td>
		</tr>
		<tr>
		<td>Task Created Date</td><td th:text="${task.taskCreateddate}">task Created Date</td>
		</tr>
		<tr>
		<td>Task Created By (Tenant Name)</td><td th:text="${task.tenant.tenantName}">tenant name</td>
		</tr>
	</table>
	<br/><br/>
	<h3>Assign a contact from the below list to the above task</h3>
    <form action="#" th:action="@{/owner/updatetask}" method="post">
    	<table>
			<tr>
				<th>Contact Name</th>
				<th>Services Offered</th>
			</tr>				
			<tr th:each="contact: ${contacts}">
				<td th:text="${contact.contactName}">contact name</td>
				<td th:text="${contact.servicesOffered}">services offered</td>
				<td>
					<input type="hidden" name="taskId" th:value="${task.taskId}" />
					<input type="hidden" name="contactId" th:value="${contact.contactId}" />
					<input type="submit" value="Assign" />
				</td>
			</tr>	
					
	    </table>
    </form>
</body>
</html>