<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Realty Management Services</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2 th:inline = "text">Hello [[${contact.contactName}]]!</h2>
    <div th:if="${tasks.size() > 0}">
    	<table cellpadding="5" cellspacing="5">
    		<tr><th colspan=5>Below are the tasks</th></tr>
			<tr>
				<th>Task Name</th>
				<th>Task Description</th>
				<th>Task Status</th>
				<th>Task Created Date</th>
				<th></th>
			</tr>				
			<tr th:each="task: ${tasks}">
				<td th:text="${task.taskName}">task name</td>
				<td th:text="${task.taskDescription}">task description</td>
				<td th:text="${task.taskStatus}">task status</td>
				<td th:text="${task.taskCreateddate}">task created date</td>
				<td>
					<span th:if="${task.taskStatus == 'Assigned'}">
                		<a th:href="@{'/contact/taketask?taskId='+${task.taskId}}">take it up</a>
                	</span>
				</td>				
			</tr>						
	    </table>
	  </div> 
    <form th:action = "@{/logout}" method = "post">
         <input type = "submit" value = "Sign Out"/>
    </form>   	
</body>
</html> 