<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Task Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Welcome <span th:text="${task.contact.contactName}">Owner</span></h2>
	<h3>Task Details</h3>
	<form action="#" th:action="@{/contact/closetask}" th:object="${task}" method="post">
	<table>
		<tr>
		<td>Task Name</td><td th:text="${task.taskName}">task name</td>
		</tr>	
		<tr>
		<td>Task Description</td><td th:text="${task.taskDescription}">task Description</td>
		</tr>
		<tr>
		<td>Task Status</td><td th:text="${task.taskStatus}">task Status</td>
		</tr>
		<tr>
		<td>Task Assigned Date</td><td th:text="${task.taskModifieddate}">task Created Date</td>
		</tr>
		<tr>
		<td>Task Assigned By (Owner Name)</td><td th:text="${task.owner.ownerName}">owner name</td>
		</tr>		
	</table>
	<br/>
	<h4>Once task completed, click here to <input type="hidden" name="taskId" th:value="${task.taskId}" /><input type="submit" value="Close"/></h4>
    </form>    	
</body>
</html>