<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Task Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>	
	<h2>Welcome <span th:text="${tenant.tenantName}">Tenant</span></h2>	
	<h3>Task Form</h3>
    <form action="#" th:action="@{/tenant/savetask}" th:object="${task}" method="post">
    	<p>Task Name: <input type="text" th:field="*{taskName}" /></p>
        <p>Task Description: <input type="text" th:field="*{taskDescription}" /></p> 
        <!-- <p>Attach Photo: <input type="file" name="photo"></p>-->       
        <p>
        	<input type="hidden" name="tenantId" th:value="${tenant.tenantId}" />
        	<input type="hidden" name="ownerId" th:value="${tenant.owner.ownerId}" />
        	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        	<a th:href="@{'/tenant/home?email='+${tenant.user.emailAddress}}">go back</a>
        </p>
    </form>
</body>
</html>